<header class="header">
  <section class="flex">
     <a href="" class="logo">Loyauté internationnal</a>
  
     {% comment %} <form method="post" class="search-form">
      <input type="text" name="search_box" id="" placeholder="search courses.." required maxlength="100">
      <button type="submit" class="fas fa-search" name="search_box"></button>
     </form>
   {% endcomment %}
     {% comment %} <div class="icons">
      <div id="menu-btn" class="fas fa-bars"></div>
      <div id="search-btn" class="fas fa-search"></div>
      <div id="user-btn" class="fas fa-user"></div>
     </div>
   {% endcomment %}

     <div class="profile">
      <img src="" alt="">
      <h3>hello</h3>
      <span>berger</span>
      <div class="flex-btn">
         {% comment %} <a href="{% url 'profil' user_id=user.pk %}" class="boutton btn--full btn--primary">profil</a> {% endcomment %}
         {% comment %} <a href="{% url 'logout' %}" class="boutton btn--full btn--secondary">deconnexion</a> {% endcomment %}
      </div>
     </div>
  </section>
</header>

